body {
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 20px;
}
h1 {
    background: #F0F0F0;
    border-bottom: 1px solid #CCC;
    margin: 0 0 1em 0;
    padding: 0.5em;
}
img {
    border: 0;
    max-width: 100%;
}
a {
    color: #00C;
}
a:visited {
    color: #00C;
}
h1 a {
    color: #000;
    text-decoration: none;
}
h1 a:visited {
    color: #000;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    margin-bottom: 5em;
}
#messages .meta {
    float: bottom;
    font-size: 14px;
    color: #999;
    text-align: right;
}
#messages .meta .timestamp {
    font-size: 14px;
    margin: 10px 10px 0;
    color: #999;
}
/*#messages .meta .replies {
    float: right;
    font-size: 14px;
    color: #999;
}
*/#messages .day {
    font-size: x-large;
}
#messages .photo {
    text-align: left;
    margin-bottom: 1em;
}
#messages .text {
    margin: 3px;
}
#messages .timehop {
    background: #F0F0F0;
    border-bottom: 1px solid #CCC;
    margin: 0 0 1em 0;
    padding: 0.5em;
    font-size: x-large;
    text-align: center;
    border: 1px
}
#messages .replies {
    text-align: right;
    font-size: 14px
}
#messages .tags {
    list-style-type: none;
    margin: 3px;
    padding: 0;
}
#messages .tags li {
    display: inline;
    margin-right: 0.5em;
}
#messages .tags a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dashed #999;
}
#messages .embed .provider {
    display: none;
}
#replies {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#replies li {
    margin-bottom: 2.5em;
    background-repeat: no-repeat;
    padding-left: 42px;
}
#replies .username {
    font-size: larger;
}
#navigation {
    background: #F0F0F0;
    margin: 2em 0;
    padding: 5px;
}

#navigation .bottomnav {
    display: flex;
    justify-content: center;
    height: 50px;
}

#navigation .bottomnav .random {
    flex: 0;
}

#navigation .bottomnav .random a img {
    position: absolute;
}

#navigation .bottomnav .next {
    align-self: center;
    text-align: center;
    flex: 1;
}

#footer {
    margin: 2em 0 0 0;
    padding: 5px;
    font-size: small;
    text-align: center;
}
#footer a {
    color: #999;
}
#messages .div_a_pic {
    display: block;
}
#messages .a_pic {
    display: inline-block;
    max-width: 100%;
}
#messages .imgur-embed-iframe-pub {
    display: block;
}
